<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

    <targets>
        <!-- API请求日志 -->
        <target name="api_request_file" xsi:type="File" maxArchiveFiles="100" encoding="utf-8"
                fileName="${basedir}/NLogs/${date:format=yyyyMMdd}/ApiRequest/request.txt"
                archiveFileName="${basedir}/NLogs/${date:format=yyyyMMdd}/ApiRequest/request.{#}.txt"
                archiveDateFormat="yyyyMMdd"
                archiveAboveSize="104857600"
                archiveNumbering="Sequence"
                archiveEvery="Day"
                maxArchiveDays="15"
                layout="${date:yyyy-MM-dd HH\:mm\:ss} ${message}" />

        <!-- Error日志 -->
        <target name="error_file" xsi:type="File" maxArchiveFiles="100" encoding="utf-8"
                fileName="${basedir}/NLogs/${date:format=yyyyMMdd}/Error/log.txt"
                archiveFileName="${basedir}/NLogs/${date:format=yyyyMMdd}/Error/log.{#}.txt"
                archiveDateFormat="yyyyMMdd"
                archiveAboveSize="104857600"
                archiveNumbering="Sequence"
                archiveEvery="Day"
                maxArchiveDays="5"
                layout="${date:yyyy-MM-dd HH\:mm\:ss} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace}" />

        <!-- User Error日志 -->
        <target name="uerror_file" xsi:type="File" maxArchiveFiles="100" encoding="utf-8"
                fileName="${basedir}/NLogs/${date:format=yyyyMMdd}/XError/log.txt"
                archiveFileName="${basedir}/NLogs/${date:format=yyyyMMdd}/XError/log.{#}.txt"
                archiveDateFormat="yyyyMMdd"
                archiveAboveSize="104857600"
                archiveNumbering="Sequence"
                archiveEvery="Day"
                maxArchiveDays="15"
                layout="${date:yyyy-MM-dd HH\:mm\:ss} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace}" />


        <!-- Info日志 -->
        <target name="info_file" xsi:type="File" maxArchiveFiles="100" encoding="utf-8"
                fileName="${basedir}/NLogs/${date:format=yyyyMMdd}/Info/log.txt"
                archiveFileName="${basedir}/NLogs/${date:format=yyyyMMdd}/Info/log.{#}.txt"
                archiveDateFormat="yyyyMMdd"
                archiveAboveSize="104857600"
                archiveNumbering="Sequence"
                archiveEvery="Day"
                maxArchiveDays="5"
                layout="${date:yyyy-MM-dd HH\:mm\:ss} ${message}" />

        <!-- User Info日志 -->
        <target name="uinfo_file" xsi:type="File" maxArchiveFiles="100" encoding="utf-8"
                fileName="${basedir}/NLogs/${date:format=yyyyMMdd}/XInfo/log.txt"
                archiveFileName="${basedir}/NLogs/${date:format=yyyyMMdd}/XInfo/log.{#}.txt"
                archiveDateFormat="yyyyMMdd"
                archiveAboveSize="104857600"
                archiveNumbering="Sequence"
                archiveEvery="Day"
                maxArchiveDays="15"
                layout="${date:yyyy-MM-dd HH\:mm\:ss} ${message}" />

        <!-- Warning日志 -->
        <target name="warn_file" xsi:type="File" maxArchiveFiles="100" encoding="utf-8"
                fileName="${basedir}/NLogs/${date:format=yyyyMMdd}/Warn/log.txt"
                archiveFileName="${basedir}/NLogs/${date:format=yyyyMMdd}/Warn/log.{#}.txt"
                archiveDateFormat="yyyyMMdd"
                archiveAboveSize="104857600"
                archiveNumbering="Sequence"
                archiveEvery="Day"
                maxArchiveDays="5"
                layout="${date:yyyy-MM-dd HH\:mm\:ss} ${message}" />

        <!-- Debug日志 -->
        <target name="debug_file" xsi:type="File" maxArchiveFiles="100" encoding="utf-8"
                fileName="${basedir}/NLogs/${date:format=yyyyMMdd}/Debug/log.txt"
                archiveFileName="${basedir}/NLogs/${date:format=yyyyMMdd}/Debug/log.{#}.txt"
                archiveDateFormat="yyyyMMdd"
                archiveAboveSize="104857600"
                archiveNumbering="Sequence"
                archiveEvery="Day"
                maxArchiveDays="5"
                layout="${date:yyyy-MM-dd HH\:mm\:ss} ${message}" />

        <!-- 异常处理日志 -->
        <target name="exception_file" xsi:type="File" maxArchiveFiles="100" encoding="utf-8"
                fileName="${basedir}/NLogs/${date:format=yyyyMMdd}/Exception/error.txt"  
                archiveFileName="${basedir}/NLogs/${date:format=yyyyMMdd}/Exception/error.{#}.txt"
                archiveDateFormat="yyyyMMdd"
                archiveAboveSize="104857600"
                archiveNumbering="Sequence"
                archiveEvery="Day"
                maxArchiveDays="15"
                layout="${date:yyyy-MM-dd HH\:mm\:ss} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace}" />

        <!-- 数据库日志配置保持不变 -->
        <target name="database" xsi:type="Database"
                dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
                connectionString="Data Source=172.16.120.82;Port=3306;Character Set=utf8;Initial Catalog=nlogger;user id=root;password=root;Allow User Variables=True;SslMode=none">
            <commandText>
                insert into log (
                Application, Logged, Level, Message,
                Logger, CallSite, Exception
                ) values (
                @Application, @Logged, @Level, @Message,
                @Logger, @Callsite, @Exception
                );
            </commandText>
            <parameter name="@application" layout="NLogTestDemo" />
            <parameter name="@logged" layout="${date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@callSite" layout="${callsite:filename=true}" />
            <parameter name="@exception" layout="${exception:tostring}" />
        </target>
    </targets>

    <rules>
        <!-- API请求日志规则 -->
        <logger name="Xioa.Admin.Service.Web.Api.Services.NlogService.Service.LoggingMiddleware" 
                writeTo="api_request_file" final="true"/>
        <!-- 异常处理日志规则 -->
        <logger name="Xioa.Admin.Service.Web.Api.Services.NlogService.Service.ExceptionHandlingMiddleware" 
                minlevel="Error"
                writeTo="exception_file" final="true"/>
        <!-- 只记录你自己项目命名空间下的Info日志 -->
        <logger name="Xioa.Admin.Service.Web.Api.*" level="Information" writeTo="uinfo_file" final="true"/>
        <!-- <logger name="Xioa.Admin.Service.Web.Api.*" level="Info" writeTo="uinfo_file" final="true"/> -->

        <!-- Microsoft.Extensions.Logging使用LogLevel.Information -->
        <!-- NLog传统上使用Info -->
        <!-- 它们表示的是同一个日志级别（值都是2） -->

        <!-- 只记录你自己项目命名空间下的Info日志 -->
        <logger name="Xioa.Admin.Service.Web.Api.*" level="Error" writeTo="uerror_file" final="true"/>
        
        <!-- 每个级别的日志只记录一次 -->
        <!-- 移除Debug日志记录，除非特别需要 -->
        <logger name="*" level="Debug" writeTo="debug_file" final="true"/>
        <logger name="*" level="Information" writeTo="info_file" final="true"/>
        <!-- <logger name="*" level="Info" writeTo="info_file" final="true"/> -->
        <logger name="*" level="Warn" writeTo="warn_file" final="true"/>
        <logger name="*" level="Error" writeTo="error_file" final="true"/>
        <!-- 数据库日志 -->
        <!-- <logger name="*" minlevel="Warn" writeTo="database" /> -->
    </rules>
</nlog>